@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* Optional global font (Apple-like) */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #ffffff; /* Tailwind gray-50 */
}
